<p-table [value]="transactions" styleClass="p-datatable-striped" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Symbol</th>
            <th>Quantity</th>
            <th>Spent</th>
            <th>Average</th>
            <th>Worth</th>
            <th>Price</th>
            <th>Profit</th>
            <th>%</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-transaction>
        <tr>
            <td>
                <div class="flex align-items-center">
                    <p-image src="{{assetUrl + transaction.symbol + '.svg'}}" width="15"
                        class="mr-1"></p-image>
                    {{transaction.symbol}}
                </div>
            </td>
            <td>{{transaction.quantity | number : '0.0-4'}}</td>
            <td>{{transaction.amount | currency : globals.cryptoCurrency : 'symbol' : '0.0-2'}}</td>
            <td>{{transaction.amount / transaction.quantity | currency : globals.cryptoCurrency : 'symbol' : '0.0-3'}}
            </td>
            <td>{{transaction.liveValue | currency : globals.cryptoCurrency : 'symbol' : '0.0-2'}}</td>
            <td>{{transaction.liveValue / transaction.quantity | currency : globals.cryptoCurrency : 'symbol' :
                '0.0-3'}}</td>
            <td>
                <p-tag styleClass="p-mr-2" [severity]="(transaction.valueDiff > 0) ? 'success':'danger'"
                    value="{{transaction.valueDiff | currency : globals.cryptoCurrency : 'symbol' : '0.0-2'}}"></p-tag>
            </td>
            <td>
                <p-tag styleClass="p-mr-2" [severity]="(transaction.valueDiff > 0) ? 'success':'danger'"
                    value="{{(transaction.valueDiff / transaction.amount * 100 | number : '0.0-1') + '%'}}"></p-tag>
            </td>
        </tr>
    </ng-template>
</p-table>