/* You can add global styles to this file, and also import other style files */
html { background-color: rgb(32, 38, 46); }

.p-accordion .p-accordion-content {
    padding: 0 !important;
}

.p-datepicker { padding: 0px; }
.p-datepicker {  height: 20px;width: 25px; }