<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <h2 class="logo">
      Eye OTM <i class="fas fa-search-dollar"></i>
    </h2>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="toolbar">
      <div class="user-section">
        <span>{{ user.email }}</span>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-sign-out"
          (click)="logOut()"
          class="p-button-rounded p-button-text">
        </button>
      </div>
    </div>
  </ng-template>
</p-menubar>