<div class="shadow-5">
    <menu class="pl-0 mb-0"></menu>
    <p-panel header="News">
        <div class="card">
            <div class="flex justify-content-center flex-wrap card-container">
                <div class="flex align-items-center justify-content-center mb-3">
                    <p-selectButton [options]="options" [(ngModel)]="selectedType" optionLabel="label"
                        optionValue="value" (onChange)="typeChanged()">
                    </p-selectButton>
                </div>
            </div>
        </div>
        <app-news [type]="selectedType"></app-news>
    </p-panel>
</div>