.cash-flow-block {
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 767px) {
  :host .average-cell::before {
    flex: 0 1 auto;
  }

  .average-value {
    flex: 0 0 auto;
    white-space: nowrap;
  }
}
