<p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
            (click)="openNew()"></button>
        <button pButton pRipple icon="pi pi-trash" class="p-button-danger"
            [disabled]="!selectedDividends || !selectedDividends.length" (click)="deleteClicked()"></button>
    </ng-template>

    <ng-template pTemplate="right">
        <p-fileUpload mode="basic" #fileUpload accept=".csv" [customUpload]="true" label="Import" chooseLabel="Import"
            class="mr-2 p-d-inline-block" (uploadHandler)="onUpload($event)">
        </p-fileUpload>
        <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-info" (click)="download()"></button>
    </ng-template>
</p-toolbar>
<p-table #dt1 [value]="dividends" responsiveLayout="scroll" styleClass="p-datatable-striped" [autoLayout]="true"
    [(selection)]="selectedDividends">

    <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-wrap">
            <div class="flex flex-row flex-wrap">
                <span class="mr-2">
                    <input pInputText type="text"
                        (input)="dt1.filter($any($event.target)?.value, 'shortName', 'contains')"
                        [value]="$any(dt1.filters['shortName'])?.value" placeholder="Search by Name"
                        class="p-column-filter">
                </span>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>Stock Name</th>
            <th>Amount</th>
            <th>Date</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dividend>
        <tr>
            <td>
                <p-tableCheckbox [value]="dividend"></p-tableCheckbox>
            </td>
            <td>{{dividend.shortName}}.{{dividend.exchange}}</td>
            <td>{{dividend.amount | currency : dividend.currencyId : 'symbol' : '0.0-2'}}</td>
            <td>{{dividend.dividendDate | date:'mediumDate'}}</td>
            <td>
                <button pButton pRipple type="button" icon="pi pi-pencil" (click)="editDividend(dividend)"
                    class="p-button-rounded p-button-text mr-1 p-button-info"></button>
                <button pButton pRipple type="button" icon="pi pi-times" (click)="deleteByIds(dividend.dividendId)"
                    class="p-button-rounded p-button-text ml-2 p-button-danger"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="dividendDialog" [style]="{width: '50vw'}" header="Dividend Details" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="dividend.shortName" />
        </div>
        <div class="p-field">
            <label for="currency">Currency</label>
            <p-dropdown [options]="currencies" [(ngModel)]="dividend.currencyId" id="currency" optionLabel="label"
                optionValue="value"></p-dropdown>
        </div>
        <div class="p-field">
            <label for="amount">Amount</label>
            <input type="number" pInputText id="amount" [(ngModel)]="dividend.amount" />
        </div>
        <div class="p-field p-col-4 p-md-4">
            <label for="date">Date</label>
            <input type="text" pInputText id="date" placeholder="YYYY-MM-DD" [(ngModel)]="dividend.dividendDate" />
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveDividend()"></button>
    </ng-template>
</p-dialog>