<p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
        <button pButton pRipple label="New" icon="pi pi-plus" class="mr-2" severity="success"
            (click)="openNew()"></button>
        <button pButton pRipple icon="pi pi-trash" severity="danger"
            [disabled]="!selectedInterests || !selectedInterests.length" (click)="deleteClicked()"></button>
    </ng-template>

    <ng-template pTemplate="right">
        <p-fileUpload mode="basic" #fileUpload accept=".csv" [customUpload]="true" label="Import" chooseLabel="Import"
            class="mr-2 p-d-inline-block" (uploadHandler)="onUpload($event)">
        </p-fileUpload>
        <button pButton pRipple label="Export" icon="pi pi-upload" severity="info" (click)="download()"></button>
    </ng-template>
</p-toolbar>
<p-table #dt1 [value]="interests" responsiveLayout="scroll" styleClass="p-datatable-striped"
    [(selection)]="selectedInterests" [globalFilterFields]="['securityId', 'securityName']">

    <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-wrap">
            <div class="flex flex-row flex-wrap">
                <span class="mr-2">
                    <input pInputText type="text"
                        (input)="dt1.filterGlobal($any($event.target)?.value, 'contains')"
                        placeholder="Search by Name or Id"
                        class="p-column-filter">
                </span>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>Security Id</th>
            <th>Security Name</th>
            <th>Amount</th>
            <th>Date</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-interest>
        <tr>
            <td>
                <p-tableCheckbox [value]="interest"></p-tableCheckbox>
            </td>
            <td>{{interest.securityId}}</td>
            <td>{{interest.securityName}}</td>
            <td>{{interest.amount | currency : interest.currencyId : 'symbol' : '0.0-2'}}</td>
            <td>{{interest.interestDate | date:'mediumDate'}}</td>
            <td>
                <button pButton pRipple type="button" icon="pi pi-pencil" (click)="editInterest(interest)"
                    class="p-button-rounded p-button-text mr-1" severity="info"></button>
                <button pButton pRipple type="button" icon="pi pi-times" (click)="deleteByIds(interest.interestId)"
                    class="p-button-rounded p-button-text ml-2" severity="danger"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="interestDialog" [style]="{width: '50vw'}" header="Interest Details" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="grid">
            <div class="col-12 mb-2">
                <label for="existingSecurity" class="block mb-2 font-medium text-color-secondary">Existing Security</label>
                <p-select id="existingSecurity" [options]="securities" [(ngModel)]="selectedExistingSecurity"
                    (onChange)="existingSecurityChanged()" optionLabel="name" [filter]="true" [showClear]="true"
                    placeholder="Select an existing security" [style]="{'width':'100%'}"></p-select>
            </div>
            <div class="col-6 mb-2">
                <label for="securityId" class="block mb-2 font-medium text-color-secondary">Security Id</label>
                <input type="text" pInputText id="securityId" [(ngModel)]="interest.securityId" class="w-full" />
            </div>
            <div class="col-6 mb-2">
                <label for="name" class="block mb-2 font-medium text-color-secondary">Security Name</label>
                <input type="text" pInputText id="name" [(ngModel)]="interest.securityName" class="w-full" />
            </div>
            <div class="col-6 mb-2">
                <label for="currency" class="block mb-2 font-medium text-color-secondary">Currency</label>
                <p-select [options]="currencies" [(ngModel)]="interest.currencyId" id="currency" optionLabel="label"
                    optionValue="value" [style]="{'width':'100%'}"></p-select>
            </div>
            <div class="col-6 mb-2">
                <label for="amount" class="block mb-2 font-medium text-color-secondary">Amount</label>
                <input type="number" pInputText id="amount" [(ngModel)]="interest.amount" class="w-full" />
            </div>
            <div class="col-12 mb-2">
                <label for="date" class="block mb-2 font-medium text-color-secondary">Date</label>
                <input type="text" pInputText id="date" placeholder="YYYY-MM-DD" [(ngModel)]="interest.interestDate"
                    class="w-full" />
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveInterest()"></button>
    </ng-template>
</p-dialog>
