<p-table [value]="[{}]" styleClass="p-datatable-striped" responsiveLayout="scroll" *ngIf="transactionsLoading">
    <ng-template pTemplate="header">
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Spent</th>
            <th>Worth</th>
            <th>Rate</th>
            <th>Live Rate</th>
            <th>Profit</th>
            <th>%</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-forexTransaction>
        <tr *ngFor="let item of [].constructor(4);">
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
        </tr>
    </ng-template>
</p-table>

<p-table [value]="forexTransactions" styleClass="p-datatable-striped" responsiveLayout="scroll" *ngIf="!transactionsLoading">
    <ng-template pTemplate="header">
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Spent</th>
            <th>Worth</th>
            <th>Rate</th>
            <th>Live Rate</th>
            <th>Profit</th>
            <th>%</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-forexTransaction>
        <tr>
            <td>{{forexTransaction.fromCurrencyId}}</td>
            <td>{{forexTransaction.toCurrencyId}}</td>
            <td>{{forexTransaction.fromAmount | currency : forexTransaction.fromCurrencyId : 'symbol' : '0.0-2'}}</td>
            <td>{{forexTransaction.toAmount | currency : forexTransaction.toCurrencyId : 'symbol' : '0.0-2'}}</td>
            <td>{{forexTransaction.changeRate | currency : forexTransaction.fromCurrencyId : 'symbol' : '0.0-2'}}</td>
            <td>{{forexTransaction.liveChangeRate | currency : forexTransaction.fromCurrencyId : 'symbol' : '0.0-2'}}</td>
            <td>
                <p-tag styleClass="p-mr-2" severity="success" *ngIf="forexTransaction.liveValue > forexTransaction.fromAmount" value="{{forexTransaction.liveValue - forexTransaction.fromAmount | currency : forexTransaction.fromCurrencyId : 'symbol' : '0.0-2'}}"></p-tag>
                <p-tag styleClass="p-mr-2" severity="danger" *ngIf="forexTransaction.liveValue < forexTransaction.fromAmount" value="{{forexTransaction.liveValue - forexTransaction.fromAmount | currency : forexTransaction.fromCurrencyId : 'symbol' : '0.0-2'}}"></p-tag>
            </td>
            <td>
                <p-tag styleClass="p-mr-2" severity="success" *ngIf="forexTransaction.liveValue > forexTransaction.fromAmount" value="{{(-100 + forexTransaction.liveValue / forexTransaction.fromAmount * 100 | number : '0.0-1') + '%'}}"></p-tag>
                <p-tag styleClass="p-mr-2" severity="danger" *ngIf="forexTransaction.liveValue < forexTransaction.fromAmount" value="{{(-100 + forexTransaction.liveValue / forexTransaction.fromAmount * 100 | number : '0.0-1') + '%'}}"></p-tag>
            </td>
        </tr>
    </ng-template>
</p-table>