<p-table #dt1 [value]="transactions" styleClass="p-datatable-striped table-stack"
  sortField="amount" [sortOrder]=-1>
  <ng-template pTemplate="header">
    <tr>
      <th>Symbol</th>
      <th pSortableColumn="amount">Total Spent <p-sortIcon field="amount"></p-sortIcon>
    </th>
    <th>Average</th>
    <th>Position</th>
    <th>Profit</th>
  </tr>
</ng-template>
<ng-template pTemplate="body" let-transaction>
  <tr>
    <td data-label="Symbol">
      <div class="flex align-items-center">
        <p-image src="{{assetUrl + transaction.symbol + '.svg'}}" width="15"
        class="mr-1"></p-image>
        {{transaction.symbol}}
      </div>
    </td>
    <td data-label="Total Spent">
      @if (transaction.quantity > 0) {
        <span>{{transaction.amount | currency : transaction.currencyId : 'symbol' : '0.0-2'}}</span>
      }
    </td>
    <td data-label="Average">
      @if (transaction.quantity > 0) {
        <span>{{(transaction.amount / transaction.quantity) | currency : transaction.currencyId : 'symbol' : '0.0-3'}}</span>
      }
    </td>
    <td data-label="Position">
      <span class="p-mr-2 state-chip" [ngClass]="(transaction.quantity > 0) ? 'state-info' : 'state-accent'">{{(transaction.quantity > 0) ? (transaction.quantity | number: '0.0-4') : 'Closed'}}</span>
    </td>
    <td data-label="Profit">
      @if (transaction.quantity == 0 && transaction.amount < 0) {
        <span class="p-mr-2 state-chip state-buy">{{myMath.abs(transaction.amount) | currency : transaction.currencyId : 'symbol' : '0.0-2'}}</span>
      }
      @if (transaction.quantity == 0 && transaction.amount > 0) {
        <span class="p-mr-2 state-chip state-sell">{{transaction.amount | currency : transaction.currencyId : 'symbol' : '0.0-2'}}</span>
      }
    </td>
  </tr>
</ng-template>
</p-table>