<p-toast position="bottom-center"></p-toast>
<div class="loginPage">
    <div class="loginContainer shadow-3 text-center">
        <img class="logo" [src]="assetUrl + 'logo-horizontal.png'" alt="Eye OTM">
        <div class="fluid">
            <div class="field">
                <label for="username">Email</label>
                <input id="username" class="w-full" type="text" pInputText [(ngModel)]="user.email"
                    placeholder="Email" [formControl]="emailControl">
            </div>
            <div class="field">
                <label for="password">Password</label>
                <input id="password" class="w-full" type="password" placeholder="Password" pInputText
                    [(ngModel)]="user.password" [formControl]="passwordControl">
            </div>
            <div class="field mt-4">
                <button pButton pRipple type="button" class="p-button-primary w-full" (click)="login()">Login<i
                        class="pi pi-lock-open ml-2"></i></button>
            </div>
        </div>
    </div>
</div>