.loginContainer{
    position: relative;
    background-color: #1f2d40;
    padding: 2%;
    max-width: 50%;
    margin-top: 10%;
    margin-left: 30%;
  }

  loginContainer > * {
    width: 100%;
  }

  .loginContainer h1 {
    color: black;
    font-weight: lighter;
  }

  .loginContainer button {
    font-weight: lighter;
    max-width: 100%;
  }

  .loginContainer input {
    max-width: 100%;
  }