<div class="shadow-5">
    <p-toolbar styleClass="p-1">
        <ng-template pTemplate="left">
            <h4 class="p-0 m-0 pl-1">Watchlist</h4>
        </ng-template>
        <ng-template pTemplate="right">
            <p-button icon="fas fa-plus" styleClass="p-button-success w-2rem h-2rem"></p-button>
        </ng-template>
    </p-toolbar>
    <p-accordion [multiple]="true">
        <p-accordionTab header="Stock" [selected]="true" styleClass="p-0 m-0" class="p-0 m-0">
            <p-table #dt1 [value]="stockWatchList" responsiveLayout="scroll" styleClass="p-datatable-sm"
                [autoLayout]="true">
                <ng-template pTemplate="body" let-stockWatch>
                    <tr (click)="stockSelected(stockWatch.stockShortName)" style="cursor: pointer;">
                        <td>
                            <p-tag severity="info" value="{{stockWatch.stockShortName}}">
                            </p-tag>
                        </td>
                        <td class="text-sm font-bold"
                            [ngStyle]="{'color': (stockWatch.change > 0) ? '#008002' : (stockWatch.change === 0) ? '#999999' : '#910101'}">
                            {{stockWatch.liveValue | currency : stockWatch.currencyId : 'symbol' : '0.0-2'}}</td>
                        <td class="text-sm font-bold"
                            [ngStyle]="{'color': (stockWatch.change > 0) ? '#008002' : (stockWatch.change === 0) ? '#999999' : '#910101'}">
                            {{stockWatch.change | number : '0.0-2'}}</td>
                        <td class="text-sm font-bold"
                            [ngStyle]="{'color': (stockWatch.change > 0) ? '#008002' : (stockWatch.change === 0) ? '#999999' : '#910101'}">
                            {{stockWatch.pchange | number : '0.0-2'}}%</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-accordionTab>
        <p-accordionTab header="Crypto" [selected]="true">
            <p-table #dt1 [value]="cryptoWatchList" responsiveLayout="scroll" styleClass="p-datatable-sm"
                [autoLayout]="true">
                <ng-template pTemplate="body" let-cryptoWatch>
                    <tr>
                        <td class="text-xs">
                            <div class="flex align-items-center">
                                <p-image *ngIf="cryptoWatch.url != null" src="{{cryptoWatch.url}}" alt="Image"
                                    width="15" class="mr-1"></p-image>
                                {{cryptoWatch.name}}
                            </div>
                        </td>
                        <td class="text-sm font-bold"
                            [ngStyle]="{'color': (cryptoWatch.change > 0) ? '#008002' : (cryptoWatch.change === 0) ? '#999999' : '#910101'}">
                            {{cryptoWatch.liveValue | currency : 'EUR' : 'symbol' : '0.0-2'}}</td>
                        <td class="text-sm font-bold"
                            [ngStyle]="{'color': (cryptoWatch.change > 0) ? '#008002' : (cryptoWatch.change === 0) ? '#999999' : '#910101'}">
                            {{cryptoWatch.change | number : '0.0-2'}}%</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-accordionTab>
        <p-accordionTab header="Forex" [selected]="false">
            <p-table #dt1 [value]="forexWatchList" responsiveLayout="scroll" styleClass="p-datatable-sm"
                [autoLayout]="true">
                <ng-template pTemplate="body" let-forexWatch>
                    <tr>
                        <td>
                            <p-tag severity="info" value="{{forexWatch.fromCurrencyId + forexWatch.toCurrencyId}}">
                            </p-tag>
                        </td>
                        <td></td>
                        <td class="text-sm font-bold"
                            [ngStyle]="{'color': (forexWatch.change > 0) ? '#008002' : (forexWatch.change === 0) ? '#999999' : '#910101'}">
                            {{forexWatch.liveValue | currency : forexWatch.toCurrencyId : 'symbol' : '0.0-2'}}</td>
                        <td class="text-sm font-bold"
                            [ngStyle]="{'color': (forexWatch.change > 0) ? '#008002' : (forexWatch.change === 0) ? '#999999' : '#910101'}">
                            {{forexWatch.change | number : '0.0-2'}}</td>
                        <td class="text-sm font-bold"
                            [ngStyle]="{'color': (forexWatch.change > 0) ? '#008002' : (forexWatch.change === 0) ? '#999999' : '#910101'}">
                            {{forexWatch.pchange | number : '0.0-2'}}%</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-accordionTab>
    </p-accordion>
</div>