<p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
            (click)="openNew()"></button>
        <button pButton pRipple icon="pi pi-trash" class="p-button-danger"
            [disabled]="!selectedInvestments || !selectedInvestments.length" (click)="deleteClicked()"></button>
    </ng-template>

    <ng-template pTemplate="right">
        <p-fileUpload mode="basic" #fileUpload accept=".csv" [customUpload]="true" label="Import" chooseLabel="Import"
            class="mr-2 p-d-inline-block" (uploadHandler)="onUpload($event)">
        </p-fileUpload>
        <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-info" (click)="download()"></button>
    </ng-template>
</p-toolbar>
<p-table #dt1 [value]="investments" responsiveLayout="scroll" styleClass="p-datatable-striped" [autoLayout]="true"
    [(selection)]="selectedInvestments">

    <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-wrap">
            <div class="flex flex-row flex-wrap">
                <span class="mr-2">
                    <input pInputText type="text"
                        (input)="dt1.filter($any($event.target)?.value, 'shortName', 'contains')"
                        [value]="$any(dt1.filters['shortName'])?.value" placeholder="Search by Name"
                        class="p-column-filter">
                </span>
                <p-columnFilter field="buySell" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($any($event)?.value)"
                            placeholder="Any">
                            <ng-template let-option pTemplate="item">

                                <p-tag styleClass="p-mr-2" severity="info" *ngIf="option.label === 'BUY'" value="BUY">
                                </p-tag>
                                <p-tag styleClass="p-mr-2" severity="warning" *ngIf="option.label === 'SELL'"
                                    value="SELL"></p-tag>
                            </ng-template>
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>ETF Name</th>
            <th>Type</th>
            <th>Quantity</th>
            <th>Spent</th>
            <th>Average</th>
            <th>Date</th>
            <th>Currency</th>
            <th>Fee</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-investment>
        <tr>
            <td>
                <p-tableCheckbox [value]="investment"></p-tableCheckbox>
            </td>
            <td>{{investment.shortName}}</td>
            <td>
                <p-tag styleClass="p-mr-2" severity="info" *ngIf="investment.buySell === 'B'" value="BUY"></p-tag>
                <p-tag styleClass="p-mr-2" severity="warning" *ngIf="investment.buySell === 'S'" value="SELL"></p-tag>
            </td>
            <td>{{investment.quantity}}</td>
            <td>{{investment.amount | currency : investment.currencyId : 'symbol' : '0.0-2'}}</td>
            <td>{{(investment.amount / investment.quantity) | currency : investment.currencyId : 'symbol' : '0.0-3'}}
            </td>
            <td>{{investment.transactionDate | date:'mediumDate'}}</td>
            <td>{{investment.currencyId}}</td>
            <td>{{investment.fee}}</td>
            <td>
                <button pButton pRipple type="button" icon="pi pi-pencil" (click)="editInvestment(investment)"
                    class="p-button-rounded p-button-text mr-1 p-button-info"></button>
                <button pButton pRipple type="button" icon="pi pi-times" (click)="deleteByIds(investment.investmentId)"
                    class="p-button-rounded p-button-text ml-2 p-button-danger"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="investmentDialog" [style]="{width: '50vw'}" header="Investment Details" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="investment.shortName" />
        </div>
        <div class="p-field">
            <label for="currency">Currency</label>
            <p-dropdown [options]="currencies" [(ngModel)]="investment.currencyId" id="currency" optionLabel="label"
                optionValue="value"></p-dropdown>
        </div>
        <div class="p-field">
            <label for="currency">Type</label>
            <p-dropdown [options]="statuses" [(ngModel)]="investment.buySell" placeholder="Any">
                <ng-template let-option pTemplate="item">

                    <p-tag styleClass="p-mr-2" severity="info" *ngIf="option.label === 'BUY'" value="BUY">
                    </p-tag>
                    <p-tag styleClass="p-mr-2" severity="warning" *ngIf="option.label === 'SELL'" value="SELL"></p-tag>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="p-field">
            <label for="quantity">Quantity</label>
            <input type="number" pInputText id="quantity" [(ngModel)]="investment.quantity" />
        </div>
        <div class="p-field">
            <label for="amount">Amount</label>
            <input type="number" pInputText id="amount" [(ngModel)]="investment.amount" />
        </div>
        <div class="p-field p-col-4 p-md-4">
            <label for="date">Date</label>
            <input type="text" pInputText id="date" placeholder="YYYY-MM-DD" [(ngModel)]="investment.transactionDate" />
        </div>
        <div class="p-field">
            <label for="fee">Fee</label>
            <input type="number" pInputText id="fee" [(ngModel)]="investment.fee" />
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
            (click)="saveInvestment()"></button>
    </ng-template>
</p-dialog>