<div class="shadow-5">
  <menu class="pl-0 mb-0"></menu>
  <p-panel>
    <ng-template pTemplate="icons">
      <button pButton pRipple icon="pi pi-refresh" class="p-button-rounded p-button-text"
        pTooltip="Refresh" (click)="fetchData()"></button>
    </ng-template>
    <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">Stock</p-tab>
      <p-tab value="1">Crypto</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">

        <button pButton pRipple label="Create" icon="pi pi-plus"
          class="p-button-rounded ml-2 mb-2" severity="success" (click)="showDialog()">
        </button>
        @if (alertsLoading) {
          <p-table [value]="[{}]" styleClass="p-datatable-striped p-datatable-sm" responsiveLayout="scroll"
            >
            <ng-template pTemplate="header">
              <tr>
                <th>Ticker</th>
                <th>Name</th>
                <th>Type</th>
                <th>Value Point</th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body">
              @for (item of [].constructor(4); track $index) {
                <tr>
                  <td><p-skeleton></p-skeleton></td>
                  <td><p-skeleton></p-skeleton></td>
                  <td><p-skeleton></p-skeleton></td>
                  <td><p-skeleton></p-skeleton></td>
                </tr>
              }
            </ng-template>
          </p-table>
        }

        @if (!alertsLoading) {
          <p-table [value]="stockAlerts" styleClass="p-datatable-striped" responsiveLayout="scroll"
            >
            <ng-template pTemplate="header">
              <tr>
                <th>Ticker</th>
                <th>Name</th>
                <th>Type</th>
                <th>Value Point</th>
                <th><i class="pi pi-pencil"></i></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-alert>
              <tr
                [ngClass]="{'row-over': alert.type.indexOf('OVER') > 0, 'row-under': alert.type.indexOf('UNDER') > 0 }">
                <td>
                  <p-tag severity="info" value="{{alert.shortName}}.{{alert.exchange}}">
                  </p-tag>
                </td>
                <td><p-image src="https://eodhd.com/img/logos/{{alert.exchange}}/{{alert.shortName}}.png"
                width="15" class="mr-1" (onImageError)="globals.errorHandler($event)"></p-image>
              {{alert.name}}</td>
              <td>{{alert.type | alertTypePipe}}</td>
              <td [ngStyle]="{'color': (alert.type.indexOf('OVER') > 0) ? '#008002' : '#910101'}">
              {{alert.valuePoint}}</td>
              <td><i style="cursor: pointer; color: red" (click)="deleteStockAlert(alert)"
              class="pi pi-times"></i>
            </td>
          </tr>
        </ng-template>
      </p-table>
    }
  </p-tabpanel>
  <p-tabpanel value="1">
    <button pButton pRipple label="Create" icon="pi pi-plus"
      class="p-button-rounded ml-2 mb-2" severity="success" (click)="showCryptoDialog()">
    </button>
    @if (cryptoAlertsLoading) {
      <p-table [value]="[{}]" styleClass="p-datatable-striped p-datatable-sm" responsiveLayout="scroll"
        >
        <ng-template pTemplate="header">
          <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Type</th>
            <th>Value Point</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body">
          @for (item of [].constructor(4); track $index) {
            <tr>
              <td><p-skeleton></p-skeleton></td>
              <td><p-skeleton></p-skeleton></td>
              <td><p-skeleton></p-skeleton></td>
              <td><p-skeleton></p-skeleton></td>
            </tr>
          }
        </ng-template>
      </p-table>
    }

    @if (!cryptoAlertsLoading) {
      <p-table [value]="cryptoAlerts" styleClass="p-datatable-striped" responsiveLayout="scroll"
        >
        <ng-template pTemplate="header">
          <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Type</th>
            <th>Value Point</th>
            <th><i class="pi pi-pencil"></i></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-alert>
          <tr
            [ngClass]="{'row-over': alert.type.indexOf('OVER') > 0, 'row-under': alert.type.indexOf('UNDER') > 0 }">
            <td>
              <div class="flex align-items-center">
                <p-image src="{{assetUrl + alert.symbol + '.svg'}}" width="15"
                class="mr-1"></p-image>
                {{alert.symbol}}
              </div>
            </td>
            <td>{{alert.name}}</td>
            <td>{{alert.type | alertTypePipe}}</td>
            <td [ngStyle]="{'color': (alert.type.indexOf('OVER') > 0) ? '#008002' : '#910101'}">
            {{alert.valuePoint}}</td>
            <td><i style="cursor: pointer; color: red" (click)="deleteCryptoAlert(alert)"
            class="pi pi-times"></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
  }
</p-tabpanel>
    </p-tabpanels>
    </p-tabs>
</p-panel>
</div>

<p-dialog header="Create Stock Alert" [(visible)]="displayDialog" [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
  [style]="{width: '28vw'}" [modal]="true" [draggable]="false" [resizable]="false">
  <div class="alert-form">
    <div class="alert-field">
      <label class="alert-label" htmlFor="exchange">Exchange</label>
      <p-select inputId="exchange" class="searchDropdown" [options]="exchanges" optionLabel="Name" [virtualScroll]="true"
        [virtualScrollItemSize]="31" [filter]="true" (onChange)="exchangeChanged($event)" [(ngModel)]="selectedExchange"
        placeholder="Select an Exchange" [style]="{'width':'100%'}" [appendTo]="'body'"
        [dropdownIcon]="exchangesLoading ? 'pi pi-spinner pi-spin' : 'pi pi-chevron-down'">
      </p-select>
    </div>
    <div class="alert-field">
      <label class="alert-label" htmlFor="ticker">Ticker</label>
      <p-select inputId="ticker" class="searchDropdown" [options]="symbols" optionLabel="Name" [virtualScroll]="true"
        [virtualScrollItemSize]="31" [filter]="true" [(ngModel)]="selectedStock" placeholder="Select a Ticker"
        [style]="{'width':'100%'}" [appendTo]="'body'"
        [dropdownIcon]="stocksLoading ? 'pi pi-spinner pi-spin' : 'pi pi-chevron-down'">
      </p-select>
    </div>
    <div class="alert-field">
      <label class="alert-label" htmlFor="type">Type</label>
      <p-select inputId="type" class="searchDropdown" [options]="types" [(ngModel)]="selectedType" optionLabel="name"
      optionValue="code" [style]="{'width':'100%'}" [appendTo]="'body'" placeholder="Select a Type"></p-select>
    </div>
    <div class="alert-field">
      <label class="alert-label" htmlFor="valuePoint">Value</label>
      <p-inputNumber inputId="valuePoint" [(ngModel)]="valuePoint" mode="decimal" [minFractionDigits]="0"
        [maxFractionDigits]="2" [style]="{'width':'100%'}" inputStyleClass="w-full">
      </p-inputNumber>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Create" icon="pi pi-plus" class="p-button-rounded" severity="success"
      (click)="createStockAlert()">
    </button>
  </ng-template>
</p-dialog>

<p-dialog header="Create Crypto Alert" [(visible)]="displayCryptoDialog" [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
  [style]="{width: '28vw'}" [modal]="true" [draggable]="false" [resizable]="false">
  <div class="alert-form">
    <div class="alert-field">
      <label class="alert-label" htmlFor="crypto">Coin</label>
      <p-select inputId="crypto" class="searchDropdown" [options]="cryptos" optionLabel="name" [virtualScroll]="true"
        [virtualScrollItemSize]="31" [filter]="true" [(ngModel)]="selectedCrypto" placeholder="Select a Coin"
        [style]="{'width':'100%'}" [appendTo]="'body'"
        [dropdownIcon]="cryptosLoading ? 'pi pi-spinner pi-spin' : 'pi pi-chevron-down'">
      </p-select>
    </div>
    <div class="alert-field">
      <label class="alert-label" htmlFor="cryptoType">Type</label>
      <p-select inputId="cryptoType" class="searchDropdown" [options]="types" [(ngModel)]="selectedCryptoType" optionLabel="name"
      optionValue="code" [style]="{'width':'100%'}" [appendTo]="'body'" placeholder="Select a Type"></p-select>
    </div>
    <div class="alert-field">
      <label class="alert-label" htmlFor="cryptoValuePoint">Value</label>
      <p-inputNumber inputId="cryptoValuePoint" [(ngModel)]="cryptoValuePoint" mode="decimal" [minFractionDigits]="0"
        [maxFractionDigits]="2" [style]="{'width':'100%'}" inputStyleClass="w-full">
      </p-inputNumber>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Create" icon="pi pi-plus" class="p-button-rounded" severity="success"
      (click)="createCryptoAlert()">
    </button>
  </ng-template>
</p-dialog>