@if (investmentsLoading) {
  <p-table [value]="[{}]" styleClass="p-datatable-striped table-stack">
    <ng-template pTemplate="header">
      <tr>
        <th>ETF Name</th>
        <th>Quantity</th>
        <th>Spent</th>
        <th>Worth</th>
        <th>Average</th>
        <th>Price</th>
        <th>Profit</th>
        <th>%</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body">
      @for (item of [].constructor(4); track $index) {
        <tr>
          <td data-label="ETF Name"><p-skeleton></p-skeleton></td>
          <td data-label="Quantity"><p-skeleton></p-skeleton></td>
          <td data-label="Spent"><p-skeleton></p-skeleton></td>
          <td data-label="Worth"><p-skeleton></p-skeleton></td>
          <td data-label="Average"><p-skeleton></p-skeleton></td>
          <td data-label="Price"><p-skeleton></p-skeleton></td>
          <td data-label="Profit"><p-skeleton></p-skeleton></td>
          <td data-label="%"><p-skeleton></p-skeleton></td>
        </tr>
      }
    </ng-template>
  </p-table>
}

@if (!investmentsLoading) {
  <p-table [value]="investments" styleClass="p-datatable-striped table-stack">
    <ng-template pTemplate="header">
      <tr>
        <th>ETF Name</th>
        <th>Quantity</th>
        <th>Spent</th>
        <th>Worth</th>
        <th>Average</th>
        <th>Price</th>
        <th>Profit</th>
        <th>%</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-investment>
      <tr>
        <td data-label="ETF Name">{{investment.shortName}}.{{investment.exchange}}</td>
        <td data-label="Quantity">{{investment.quantity}}</td>
        <td data-label="Spent">{{investment.amount | currency : investment.currencyId : 'symbol' : '0.0-2'}}</td>
        <td data-label="Worth">
          @if (investment.liveValue != null) {
            {{investment.liveValue | currency : investment.currencyId : 'symbol' : '0.0-2'}}
          } @else {
            <span>N/A</span>
          }
        </td>
        <td data-label="Average">{{investment.amount / investment.quantity | currency : investment.currencyId : 'symbol' : '0.0-3'}}</td>
        <td data-label="Price">
          @if (investment.liveValue != null) {
            {{investment.liveValue / investment.quantity | currency : investment.currencyId : 'symbol' : '0.0-3'}}
          } @else {
            <span>N/A</span>
          }
        </td>
        <td data-label="Profit">
          @if (investment.valueDiff > 0) {
            <p-tag styleClass="p-mr-2" severity="success" value="{{investment.valueDiff | currency : investment.currencyId : 'symbol' : '0.0-2'}}"></p-tag>
          }
          @if (investment.valueDiff < 0) {
            <p-tag styleClass="p-mr-2" severity="danger" value="{{investment.valueDiff | currency : investment.currencyId : 'symbol' : '0.0-2'}}"></p-tag>
          }
        </td>
        <td data-label="%">
          @if (investment.valueDiff > 0) {
            <p-tag styleClass="p-mr-2" severity="success" value="{{(investment.valueDiff / investment.amount * 100 | number : '0.0-1') + '%'}}"></p-tag>
          }
          @if (investment.valueDiff < 0) {
            <p-tag styleClass="p-mr-2" severity="danger" value="{{(investment.valueDiff / investment.amount * 100 | number : '0.0-1') + '%'}}"></p-tag>
          }
        </td>
      </tr>
    </ng-template>
  </p-table>
}
