<div class="shadow-5">
    <menu class="pl-0 mb-0"></menu>
    <p-panel header="Settings">
        <div class="grid">
            <div class="col-4">
                <div>
                    <h2>Followed subreddits</h2>
                </div>
                <div class="flex flex-row-reverse flex-wrap">
                    <button pButton pRipple label="Add" class="p-button-success mb-1" (click)="openDialog()"></button>
                </div>
                <p-dataView #dv [value]="subReddits">
                    <ng-template let-subReddit pTemplate="listItem">
                        <div class="col-12">
                            <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
                                <p-image
                                    src="https://www.redditinc.com/assets/images/site/Reddit_Icon_FullColor-1_2023-11-29-161416_munx.jpg"
                                    width="50" class="mr-1"></p-image>
                                <div
                                    class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                                    <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                                        {{subReddit.description}}
                                        <div class="flex align-items-center gap-3 text-sm font-italic">
                                            /r/{{subReddit.subreddit}}
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-column align-items-center sm:align-items-end gap-3">
                                    <button pButton pRipple type="button" icon="pi pi-times" (click)="delete(subReddit)"
                                        class="p-button-rounded p-button-text ml-2 p-button-danger"></button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-dataView>
            </div>
            <div class="col">
            </div>
            <div class="col-4">
                <div>
                    <h2>Stock accounts</h2>
                </div>
                <div class="flex flex-row-reverse flex-wrap">
                    <button pButton pRipple label="Add" class="p-button-success mb-1"></button>
                </div>
                <p-dataView #dv [value]="accounts">
                    <ng-template let-account pTemplate="listItem">
                        <div class="col-12">
                            <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
                                <div
                                    class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                                    <div class="flex flex-column align-items-center sm:align-items-start gap-3 font-bold">
                                        {{account.accountName}}
                                        <div class="flex align-items-center gap-3 text-sm font-italic">
                                            Created: {{account.creationDate | date:'mediumDate'}}
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-column align-items-center sm:align-items-end gap-3">
                                    <button pButton pRipple type="button" icon="pi pi-times"
                                        class="p-button-rounded p-button-text ml-2 p-button-danger"></button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-dataView>
            </div>
            <div class="col"></div>
            <div class="col-2">
                <h2>User settings</h2>
                <span class="p-float-label">
                    <p-password [toggleMask]="true" [feedback]="false" [(ngModel)]="oldPassword"></p-password>
                    <label for="password">Old Password</label>
                </span>
                <span class="p-float-label mt-4">
                    <p-password [toggleMask]="true" [(ngModel)]="newPassword"></p-password>
                    <label for="password">New Password</label>
                </span>
                <button pButton pRipple label="Save" class="p-button-info mt-2" (click)="changePassword()"></button>
            </div>
        </div>
    </p-panel>
</div>

<p-dialog [(visible)]="addSubRedditDialog" [style]="{width: '35vw'}" header="Add Subreddit" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="symbol">Subreddit</label>
            <input type="text" pInputText id="subreddit" [(ngModel)]="subReddit" autofocus />
        </div>
        <div class="p-field">
            <label for="symbol">Description</label>
            <input type="text" pInputText id="description" [(ngModel)]="description" autofocus />
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
            (click)="saveSubReddit()"></button>
    </ng-template>
</p-dialog>