<div class="shadow-5">
  <menu class="pl-0 mb-0"></menu>
  <p-panel header="Forex Portfolio">
    <div class="card">
      <div class="flex flex-row flex-wrap card-container">
        <div class="flex mr-5">
          <div>Total Spent: <b>{{totalSpent | currency : 'HUF' : 'symbol' : '0.0-2'}}</b>
        </div>
      </div>
      <div class="flex mr-5">
        <div>Total Worth: <b>{{totalWorth | currency : 'HUF' : 'symbol' : '0.0-2'}}</b>
      </div>
    </div>
    <div class="flex mr-5">
      <div>Profit:
        @if (diffy > 0) {
          <p-tag styleClass="p-mr-2" severity="success"
          value="{{diffy | currency : 'HUF' : 'symbol' : '0.0-2'}}"></p-tag>
        }
        @if (diffy < 0) {
          <p-tag styleClass="p-mr-2" severity="danger"
          value="{{diffy | currency : 'HUF' : 'symbol' : '0.0-2'}}"></p-tag>
        }
      </div>
    </div>
    <div class="flex">
      <div>Percentage:
        @if (diffy > 0) {
          <p-tag styleClass="p-mr-2" severity="success"
            value="{{(percentage | number : '0.0-1') + '%'}}">
          </p-tag>
        }
        @if (diffy < 0) {
          <p-tag styleClass="p-mr-2" severity="danger"
            value="{{(percentage | number : '0.0-1') + '%'}}">
          </p-tag>
        }
      </div>
    </div>
  </div>
</div>
<p-divider></p-divider>
<p-tabs value="0">
  <p-tablist>
    <p-tab value="0">Holdings</p-tab>
    <p-tab value="1">Transactions</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-forexholding (dataLoaded)="loadData($event)"></app-forexholding>
    </p-tabpanel>
    <p-tabpanel value="1">
      <app-forextransaction></app-forextransaction>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
@if (allocationChartOptions.series && allocationChartOptions.series.length > 0) {
  <p-divider></p-divider>
  <div class="flex justify-content-center">
    <apx-chart [series]="allocationChartOptions.series" [chart]="allocationChartOptions.chart!"
      [labels]="allocationChartOptions.labels!" [legend]="allocationChartOptions.legend!">
    </apx-chart>
  </div>
}
</p-panel>
</div>